/* GLOBAL */

*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

body{
    background: url('../img/fondo.jpg');
    background-attachment: fixed;
}

#global{
    width: 65%;
    margin: 0px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
}

#slider{
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 55px;
    width: 100%;
    
}

#slider img{
    background-repeat: no-repeat;
    background-position: center;
    height: 16em;
    width: 100%;
}

#grid-container {
    display: grid;
    grid-template-rows: 20px 5px;
    grid-template-columns: 100px;
    grid-gap: 10px;
    background-color: rgb(216, 216, 216);
    margin-top: -10px;
}

#informacion {
    grid-column-start: 1; 
    grid-column-end: 5; 
    text-align: center;
}

#fecha{
    line-height: 35px;
    font-family: "Arial", "Helvetica";
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: left;
    margin-left: 10px;
}

#control {
    grid-column-start: 5; 
    grid-column-end: 10; 
    
    /* border: black 5px solid; */
}


#opciones{
    line-height: 35px;
    margin-right: 20px;
    font-family: "Arial";
    letter-spacing: 1px;
    float: right;
}

/* INICIO MENU NOMBRE */

.flecha-down {
    width:0px;
    height:0px;
    border-left:10px solid transparent; /* izquierda flecha */
    border-right:10px solid transparent; /* derecha flecha */
    border-top:10px solid black; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
    
}

#toggle{
    display: none;
    
}

.button{
    cursor: pointer;   
    text-transform: uppercase;
    font-size: 15px;
    
}

.button:hover{
    color: rgb(226, 3, 26);
}

.flecha-down:hover{
    border-left:10px solid transparent; /* izquierda flecha */
    border-right:10px solid transparent; /* derecha flecha */
    border-top:10px solid rgb(226, 3, 26);/* base flecha y color*/
}

.controlMenu{
    left: 40px;
    transition: all 2s ease-in-out;
    background: white;
    width: 150px;
    position: relative;
    z-index: 1;
    border: 1px solid   #ccc;
}

.controlMenu a{
    text-align: center;
    line-height: 25px;
    height: 30px;
    display: block;
    font-size: 10px;
    margin: 0px 0px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 300ms;
    color:black;
}

/* FIN MENU NOMBRE */

.controlMenu a:hover{
    background-color: rgb(226, 3, 26);
    color: white;
}

#toggle:checked ~ .controlMenu{
    opacity: 1;
    transform: translateY(10%);
}



#menu{
    margin-top: -50px;
    font-family: Helvetica, Arial;
    background: rgb(216, 216, 216);
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-top: 0.5px solid rgb(190, 190, 190);
    border-bottom: 0.5px solid rgb(190, 190, 190);
    
}

#menu ul{
    line-height: 32px;
    list-style: none;
}

#menu ul li{
    height: 33px;
    display: inline-block;
    transition: all 100ms;
    
}

#menu a{
    display: block;
    color: rgb(65, 65, 65);
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 40px;
}

#menu a:hover:not(.activeMenu){
    transition: color 500ms, transform 500ms;
    transform:scale(1.15,1.15);
    /* font-weight: bold; */
}

#menu ul li{
    position: relative;
}
#menu ul li:before {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgb(226, 3, 26);
    transition: all .7s;
}
#menu ul li:hover:before {
    width: 100%;
    left: 0;
}

#menu ul li:before {
    left: 50%;
}

#menu ul li .activeMenu{
    height: 33px;
    border-bottom: 2px solid rgb(226, 3, 26);
}

footer{
    font-family: "Helvetia", Arial;
    color: rgb(41, 41, 41);
    height: 47px;
    
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    line-height: 47px;
    text-align: center;
}

footer .part2Footer{
    margin-top: -20px;
}


.navbartext {
    display: inline-block;
    width: 12cm;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.btn-agregarDocumento {
    margin-top: 40px;
    margin-bottom: 40px;
	opacity: 50%;
	width:20px;
	height:20px;
	color: #fff;
	/* margin-left: 45%; */
	z-index:999;
}

.btn-agregarDocumento:hover{
	opacity: 1;
}

.btn-agregarDocumento img{
	width:40px;
	height: 40px;
}




