/* MENSAJERIA */

#btnNewMsg{
    padding: 10px;
    font-weight: 800;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 6px;
    background:rgb(226, 3, 26);
    box-shadow: 0px 0px 10px rgb(102, 102, 102);
    cursor: pointer;
    
}

#btnNewMsg:hover{
    color: rgb(226, 3, 26);
    background:rgb(255, 255, 255);
}

/* TABLA */

#iconoVer{
  margin: 0px auto;
  border: none;
  background: transparent;
  cursor: pointer;
}

#iconoVer img{
  margin: 0px auto;
  width: 20px;
  height: 20px;
  background: transparent;
}

#iconoAdjunto{
  margin: 0px auto;
  border: none;
  background: transparent;
}

#iconoAdjunto img{
  margin: 0px auto;
  width: 20px;
  height: 20px;
  background: transparent;
}

.wrap{
width: 100%;
max-width: 95%;
margin: 30px auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0px;
  max-width:100%;
}

#respuesta{
color: red;
text-transform: uppercase;
text-align: center;
margin-top: 20px;
margin-bottom: 30px;
}

#myInput {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
width: 20%; /* Full-width */
font-size: 16px; /* Increase font-size */
padding: 12px 20px 12px 40px; /* Add some padding */
border: 1px solid #ddd; /* Add a grey border */
margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
/*border-collapse: collapse; /* Collapse borders */
/*width: 100%; /* Full-width */
/* border: 1px solid #ddd; /* Add a grey border */
font-size: 14px; /* Increase font-size */
/* display: block; */
width: 100%;
overflow-x: auto;
}

#myTable th{
background: rgb(187, 187, 187);
}

#myTable th, #myTable td {
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
text-align: left; /* Left-align text */
padding: 12px; /* Add padding */
}

#myTable tr {
/* Add a bottom border to all table rows */
border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
/* Add a grey background color to the table header and on hover */
background-color: #a3a3a3;
}

/* FIN TABLA */



form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
select{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
}

form input[type="submit"]{
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
}

#box{
    width: 65%;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

#acordeon{
    margin-top: 20px;
}

#reloj{
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica, Arial;
    color: #333;
    border: 0px dashed #333;
    width: 30%;
    padding: 30px;
    margin: 0px auto;
    margin-top: 20px;
    text-align: center;
}

#form-contact{
    width: 50%;
    margin-top: 20px;
    margin-left: 30%;
}

#form-contact label{
    width: 100%;
    font-family: Helvetica, Arial;
    /* Salto de Linea */
    display: block;
    margin-top: 5px;
}

.help-block, .form-error{
    display: block;
    margin: 0px auto;
    color: red;
    margin-bottom: 20px;
}

#form-contact input[type="submit"]{
    margin-bottom: 20px;
}


/* .botonevaluador{
    /* background: #ccc !important; */
} */

.botonevaluador:hover{
    background: rgb(226, 3, 26) !important;
    color: white !important;
}