<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>Daily UI | #001 - Sign Up</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assets/css/styleLoginUser.css" />

</head>

<body class="align">

  <img id="fondoImagen" src="../assets/img/office-620822_1920.jpg">

  <div class="grid align__item">

    <div class="register">
      <br><br><br>
      <img id="imgLogo" src="../assets/img/logoufps.jpg">

      <h2>
        ACCESO ADMINISTRATIVO
        <br>
        COMITE CURRICULAR CENTRAL
      </h2>

      <br>

      <form action="#" method="post" class="form">

        <div class="form__field">
          <input type="email" placeholder="usuario@ufps.edu.co">
        </div>

        <div class="form__field">
          <input type="password" placeholder="••••••••••••">
        </div>

        <br>

        <div class="form__field">
          <input type="submit" value="Iniciar Sesión">
        </div>

      </form>

      <p><a id="olvidaste" href="#"> ¿ Olvidaste tu Contraseña ? </a></p>

    </div>

  </div>

</body>

</html>